@import '../style.module.scss';

.intro {
  color: #252525;
  justify-content: center;
  @include container;
  .title::after {
    content: 'Introduction';
  }
  .box {
    .content {
      .hi {
        line-height: 2rem;
      }
      flex-direction: column;
      row-gap: 8px;
      line-height: 24px;
      & > span {
        text-indent: 8px;
      }
    }
  }
}
