@import '../style.module.scss';

.content {
  flex-direction: column;
  row-gap: 12px;
  .company {
    color: #151515;
  }
  .box {
    flex-direction: column;
    .top {
      flex-direction: column;
      row-gap: 1rem;
      .img {
        overflow: hidden;
        border-radius: 0.5rem;
        .imgList {
          transition: transform 0.2s ease-in-out;
        }
      }
      .selector {
        column-gap: 0.5rem;
        .dot {
          cursor: pointer;
          width: 0.8rem;
          height: 0.8rem;
          aspect-ratio: 1;
          background: rgb(191, 191, 191);
          border-radius: 50%;
          transition: width 0.2s ease;
          &.isSelect {
            width: 30px;
            border-radius: 8px;
          }
        }
      }
    }
    .bottom {
      flex-direction: column;
      .description,
      .performance {
        flex-direction: column;
        gap: 0.5rem;
        .desc {
          width: fit-content;
          column-gap: 0.5rem;
          .mark {
            width: 0.25rem;
            height: 0.25rem;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: rgb(76, 76, 76);
          }
          .label {
            color: #282828;
            line-height: 1.5rem;
          }
        }
      }
      .performance {
        .link {
          text-decoration: none;
          column-gap: 0.5rem;
          transition: text-decoration 0.2s ease;
          color: #282828;
          & > span:hover {
            text-decoration: underline;
          }
        }
        .exp {
          text-indent: 0.75rem;
          line-height: 1.5rem;
        }
      }
      .stack {
        flex-direction: column;
        row-gap: 8px;
        .stackList {
          flex-wrap: wrap;
          gap: 8px;
          .badge {
            user-select: none;
            --cdkit-color-badge-bg: rgb(154, 237, 145);
            color: #282828;
          }
        }
      }
    }
  }
}
